%section{id:'banner'}
  .container
    .row
      .col-md-text
        %p{class: 'text-center'}
          - if notice
            = notice
          - else
            Join our community, become a skilled developer, make friends, get <span class='bold'>hired</span>.
