%section{id:'banner'}
  .container
    .row
      .col-md-text
        %p{class: 'text-center'}
          - if notice
            = notice
          - else
            Join ur community, become a Skilled Developer, make friends, be <span class='bold'>Hired</span>.