:javascript
  window.$crisp=[];window.CRISP_WEBSITE_ID="10cc39ac-0e2e-45ce-af28-d528d3f3c93c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();