.home
{
  #hero
  {
    position: relative;
    margin-top: -23px;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #FFF;
    color: #FFF;

    .logo
    {
      position: relative;
      height: 100px;
    }

    .black
    {
      position: relative;
      text-transform: uppercase;
      color: #000;
    }

    .title
    {
      position: relative;
      font-size: 55px;
      font-weight: bold;
    }

    .description
    {
      position: relative;
      color: #999;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .actions
    {
      position: relative;
      margin-top: 20px;
    }

    .discord, .email
    {
      position: relative;
      width: 135px;
    }
  }

  #partners
  {
    position: relative;
    background-color: #F4F5F7;
    border: 1px solid #F4F5F7;
    padding-top: 30px;
    padding-bottom: 60px;

    h1
    {
      position: relative;
      text-transform: uppercase;
      color: #000;
    }

    .partner
    {
      position: relative;
      border: 1px solid #FFF;
      background-color: #EEE;
    }
  }

  #features
  {
    position: relative;
    background-color: #FFF;
    border: 1px solid #EEE;
    padding-top: 50px;
    padding-bottom: 20px;

    .developer
    {
      background-size: contain;
      background-position: right center;
      background-repeat: no-repeat;
      background-image: url('ilustrations/for-developers.png');
    }

    .company
    {
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url('ilustrations/for-developers.png');
    }

    .block-bg
    {
      border: 1px solid #CCC;
      position: relative;
      background-color: #FFF;
      color: #000;

      h2
      {
        position: relative;
        font-weight: bold;
        color: #000;
      }

      a
      {
        position: relative;
        background-color: red;
        border: 2px solid red;
        color: #FFF;
      }
    }

  }

  #groups
  {
    position: relative;
    color: #FFF;
    background-color: red;
    border: 1px solid red;
    padding-top: 50px;
    padding-bottom: 40px;

    .cta
    {
      .title
      {
        position: relative;
        margin-top: 60px;
      }

      .ico
      {
        font-size: 70px;
        margin-right: 30px;
        margin-top: 30px;
      }
    }
    
    .avatar
    {
      position: relative;
      margin-top: 3px;
      margin-right: 5px;
      width: 24px;
      height: 24px;
    }

    .group
    {

    }
  }

  #contact
  {
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;
  
    form
    {
      position: relative;

      textarea
      {
        position: relative;
        height: 120px;
        resize: none;
      }
    }
  }
}