#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title{class: 'text-center'} 
          Modal title
      .modal-body
        .jumbotron{style: 'height: 400px; margin-bottom: 0px;'}
      .modal-footer
        %button.btn.btn-danger.plrug-btn{"data-dismiss" => "modal", :type => "button"} Close
